html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* WP Admin Bar Fix */
html.admin-bar {
    height: calc(100% - 32px);
    @media screen and (max-width: 782px) {
        height: calc(100% - 46px);
    }
}
