@mixin container($size: 'lg', $padding: 'inside', $margin: true) {
    @if ($padding == true or $padding == 'inside') {
        max-width: map-get($breakpoints, $size);
        padding-left: $u;
        padding-right: $u;
    } @else if ($padding == 'outside') {
        max-width: calc(#{map-get($breakpoints, $size)} + #{2 * $u});
        padding-left: $u;
        padding-right: $u;
    } @else {
        // No padding
        max-width: map-get($breakpoints, $size);
    }

    @if ($margin) {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin breakpoint($size) {
    @if type-of($size) == 'string' {
        @media (min-width: map-get($breakpoints, $size)) {
            @content;
        }
    } @else {
        @media (min-width: #{$size}) {
            @content;
        }
    }
}

@mixin flex-grid(
    $cols-or-fixed: 3,
    $gutter: 0%,
    $selector: '> div',
    $responsive: none
) {
    @if ($gutter == 0) {
        $gutter: 0%;
    }

    $c: $cols-or-fixed;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;

    #{$selector} {
        @if unitless($c) {
            $width: calc((100% - ((#{$c} - 1) * #{$gutter})) / #{$c});
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: $width;
            max-width: $width;
            max-width: $width;
            margin-left: $gutter;

            &:nth-child(#{$c}n + 1) {
                margin-left: 0;
            }
        } @else {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: $c;
            max-width: $c;
            margin-right: $gutter;
        }
    }

    // Responsive
    @if ($responsive != none) {
        $i: 0;
        @each $size, $new-c in $responsive {
            @include breakpoint($size) {
                #{$selector} {
                    @if unitless($new-c) {
                        // Width
                        $width: calc(
                            (100% - ((#{$new-c} - 1) * #{$gutter})) / #{$new-c}
                        );
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: $width;
                        max-width: $width;

                        // Gutter
                        margin-left: $gutter;

                        // Undoing the prior nth-child margin setting
                        @if ($i == 0) {
                            &:nth-child(#{$c}n + 1) {
                                margin-left: $gutter;
                            }
                        } @else {
                            $last-c: nth(nth($responsive, $i), 2);
                            &:nth-child(#{$last-c}n + 1) {
                                margin-left: $gutter;
                            }
                        }

                        &:nth-child(#{$new-c}n + 1) {
                            margin-left: 0;
                        }
                    } @else {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: $new-c;
                        max-width: $new-c;
                        margin-right: $gutter;
                    }
                }
            }
            $i: $i + 1;
        }
    }
}

@mixin spacing(
    $name: 'initial',
    $prop: 'padding',
    $one: 'top',
    $two: 'bottom'
) {
    $start_: 10px;
    $end_: 10px;
    $start: 20px;
    $end: 20px;

    @if $name == 'initial' {
        $start_: 10px;
        $end_: 10px;
        $start: 20px;
        $end: 20px;
    }

    #{$prop}-#{$one}: $start_;
    #{$prop}-#{$two}: $end_;
    @include breakpoint($breakpoint-main) {
        #{$prop}-#{$one}: $start;
        #{$prop}-#{$two}: $end;
    }
}

@mixin vertical($name: 'initial', $prop: 'padding') {
    @include spacing($name, $prop, 'top', 'bottom');
}

@mixin horizontal($name: 'initial', $prop: 'padding') {
    @include spacing($name, $prop, 'left', 'right');
}

@mixin bg-image($name) {
    $size: 75%;

    @if $name == 'teaser' {
        $size: 75%;
    }

    position: relative;
    .padding {
        height: 0;
        padding-bottom: $size;
    }
}
