$font-serif: serif;
$font-sans: sans-serif;

$font-size: 16px;
$line-height: 1.2;

$u: $line-height * $font-size;

$breakpoints: (
    'sm': 480px,
    'md': 839px,
    'lg': 1024px,
    'xl': 1440px
);

$breakpoint-main: 'md';
$breakpoint-tablet: $breakpoint-main;
$breakpoint-type: $breakpoint-tablet;

$color-text: #333;
